%form{:action => "/api_keys/add", :method => "post"}
  %label{:for => "api_key"} User:
  %input{:id => "api_key", :name => "api_key", :placeholder => "e.g. djsauble"}
  %label{:for => "token"} Token:
  %input{:id => "token", :name => "token", :placeholder => "e.g. a8f20be0"}
  %input{:type => "submit", :value => "Add API key"}
