%form{:action => "/databases/add", :method => "post"}
  %label
    URL:
    %input{:name => "api", :placeholder => "https://djsauble.cloudant.com/"}
    %br
  %label
    Username:
    %input{:name => "username", :placeholder => "djsauble"}
    %br
  %label
    Password:
    %input{:name => "password", :type => "password"}
    %br
  %input{:type => "hidden", :name => "type", :value => "cloudant"}
  %input{:type => "submit", :value => "Add database"}
