%form{:action => "/databases/#{database_id}/tables/add", :method => "post"}
  %label{:for => "name"} Name:
  %input{:id => "name", :name => "name", :placeholder => "e.g. People"}
  %label{:for => "columns"} Column:
  %input{:id => "columns", :name => "columns", :placeholder => "e.g. first_name,last_name,email"}
  %input{:type => "submit", :value => "Add table"}
