!!!
%html
  %head
    %title API Dashboard
    %link{:href => "css/styles.css", :type => "text/css", :rel => "Stylesheet"}
  %body{:class => [:column]}
    - if logged_in?
      %div{:class => [:header, :dark, :row]}
        %span.expand Welcome, runner!
        %a{:href => "/logout"} Logout
    = yield
