<!DOCTYPE html>
<html>
  <head>
    <title>Forrest Cruise</title>

    <!-- Preload images -->
    <link rel="prefetch" href="images/01_5k.jpg">
    <link rel="prefetch" href="images/02_10k.jpg">
    <link rel="prefetch" href="images/03_half_marathon.jpg">
    <link rel="prefetch" href="images/04_marathon.jpg">
    <link rel="prefetch" href="images/05_50k.jpg">
    <link rel="prefetch" href="images/06_50m.jpg">
    <link rel="prefetch" href="images/07_100k.jpg">
    <link rel="prefetch" href="images/08_100m.jpg">

    <!-- Load styles -->
    <link href='fonts/font-awesome-4.5.0/css/font-awesome.min.css' type='text/css' rel='Stylesheet'/>
    <link href='css/styles.css' type='text/css' rel='Stylesheet'/>
    <link href='css/landing.css' type='text/css' rel='Stylesheet'/>
    <link href='css/images.css' type='text/css' rel='Stylesheet'/>
    <script src='js/bundle2.js' type='text/javascript'></script>
  </head>
  <body>
    <div class='hero screen'>
      <h1>Aspire. Run.</h1>
      <div class='calculator'>
        <label>I want to run</label>
        <select class='goal'>
          <option value='10'>5 km</option>
          <option value='20'>10 km</option>
          <option value='30'>13.1 mi</option>
          <option value='40'>26.2 mi</option>
          <option value='50'>50 km</option>
          <option value='60'>50 mi</option>
          <option value='70'>100 km</option>
          <option value='80'>100 mi</option>
        </select>
        <a class='secondary' href='#learn'><i class='fa fa-arrow-circle-down'></i> Learn more</a>
        <span> or </span>
        <a class='primary' href='/auth/strava'>Log in with Strava</a>
      </div>
    </div>
    <a href='#' name='learn'></a>
    <div class='learn screen'>
      <h1>How it works</h1>
      <p>Each week, the app assigns you a bucket of miles to run. Using the rule of 10%, the app safely acclimatizes you to higher mileages until you&rsquo;re ready to run your race. If you miss a few days, the plan will adjust automatically.</p>
      <div class='calculator'>
        <div>
          <label>I want to run</label>
          <select class='goal'>
            <option value='10'>5 km</option>
            <option value='20'>10 km</option>
            <option value='30'>13.1 mi</option>
            <option value='40'>26.2 mi</option>
            <option value='50'>50 km</option>
            <option value='60'>50 mi</option>
            <option value='70'>100 km</option>
            <option value='80'>100 mi</option>
          </select>
        </div>
        <div>
          <label>I run</label>
          <input class='today' min='0' max='100' value='10'/>
          <span>mile</span><span class='plural'>s</span><span> per week</span>
        </div>
        <div>
          <label>I need to train for <span class='estimate'>11 months</span></a></label>
        </div>
      </div>
      <div class='plan'></div>
      <div class='legend'>
        <div><i class='fa fa-arrow-left'></i> Week 1 @ <span class='today_mpw'></span> miles per week</div>
        <div>Week <span class='week_count'></span> @ <span class='goal_mpw'></span> miles per week <i class='fa fa-arrow-right'></i></div>
      </div>
    </div>
    <a href='#' name='improve'></a>
    <div class='improve'>
      <h1>Stay motivated</h1>
      <p>At any point in your training plan, you can (and should) engage in shorter races to stay motivated. The app will let you know what distances you&rsquo;re in shape to run and your predicted finish time.</p>
      <table>
        <thead>
          <th>Distance</th>
          <th>Estimate</th>
          <th>PR</th>
        </thead>
        <tbody>
          <tr>
            <td>5 km</td>
            <td>24:48</td>
            <td>26:02</td>
          </tr>
          <tr>
            <td>10 km</td>
            <td>52:42</td>
            <td>56:44</td>
          </tr>
          <tr>
            <td>13.1 mi</td>
            <td>1:57:54</td>
            <td>--:--:--</td>
          </tr>
          <tr>
            <td>26.2 mi</td>
            <td>4:08:54</td>
            <td>--:--:--</td>
          </tr>
          <tr>
            <td>50 km</td>
            <td>5:10:00</td>
            <td>--:--:--</td>
          </tr>
          <tr class='dnc'>
            <td>50 mi</td>
            <td>--:--:--</td>
            <td>--:--:--</td>
          </tr>
          <tr class='dnc'>
            <td>100 km</td>
            <td>--:--:--</td>
            <td>--:--:--</td>
          </tr>
          <tr class='dnc'>
            <td>100 mi</td>
            <td>--:--:--</td>
            <td>--:--:--</td>
          </tr>
        </tbody>
      </table>
      <div class='footer'>
        Ready to get started?
        <a class='primary' href='/auth/strava'>Log in with Strava</a>
      </div>
    </div>
  </body>
</html>
