<!DOCTYPE html>
<html>
  <head>
    <title>Forrest Cruise</title>
    <link href='css/styles.css' type='text/css' rel='Stylesheet'/>
    <link href='css/landing.css' type='text/css' rel='Stylesheet'/>
    <script src='js/bundle2.js' type='text/javascript'></script>
  </head>
  <body class='landing_page'>
    <h1>Set goals.</h1>
    <form class='set'>
      <div class='field row'>
        <label for='today'>I run</label>
        <output for='today' id='todayOutput'>10</output>
        <small class='expand'>miles per week</small>
        <input type='range' id='today' name='today' min='0' max='100' value='10'/>
      </div>
      <div class='field row'>
        <label for='goal'>My goal is</label>
        <output for='goal' id='goalOutput'>40</output>
        <small class='expand'>miles per week</small>
        <input type='range' id='goal' name='goal' min='0' max='100' value='40'/>
      </div>
    </form>
    <h1>Meet them.</h1>
    <form class='meet'>
      <div class='field row'>
        <label>I can meet my goal in</label>
        <output class='expand' id='estimate'>11 months</output>
      </div>
    </form>
    <h1>Get started.</h1>
    <form action='/auth/strava' method='get'>
      <input type='submit' value='Log in with Strava'/>
    </form>
  </body>
</html>
