/* 5K */
.five_k .hero {
  background-image: url(../images/01_5k.jpg);
  background-color: #e1f2fe;
}
.five_k .hero h1 {
  color: #333333;
}
.five_k .learn,
.five_k .hero .calculator {
  background-color: #c2c3d5;
}
.five_k .bar {
  background-color: #dbeffe;
  border-color: #c2c3d5;
}

/* 10K */
.ten_k .hero {
  background-image: url(../images/02_10k.jpg);
  background-color: #7b6f5e;
}
.ten_k .hero h1 {
  color: #ffffff;
}
.ten_k .learn,
.ten_k .hero .calculator {
  background-color: #faf4e7;
}
.ten_k .bar {
  background-color: #e7cbad;
  border-color: #faf4e7;
}

/* Half marathon */
.half_marathon .hero {
  background-image: url(../images/03_half_marathon.jpg);
  background-color: #484b51;
}
.half_marathon .hero h1 {
  color: #ffffff;
}
.half_marathon .learn,
.half_marathon .hero .calculator {
  background-color: #e2e5ea;
}
.half_marathon .bar {
  background-color: #2e2d34;
  border-color: #e2e5ea;
}

/* Marathon */
.marathon .hero {
  background-image: url(../images/04_marathon.jpg);
  background-color: #606772;
}
.marathon .hero h1 {
  color: #ffffff;
}
.marathon .learn,
.marathon .hero .calculator {
  background-color: #9aa8b4;
}
.marathon .bar {
  background-color: #f2ae51;
  border-color: #9aa8b4;
}

/* 50K ultra */
.fifty_k .hero {
  background-image: url(../images/05_50k.jpg);
  background-color: #58413e;
}
.fifty_k .hero h1 {
  color: #ffffff;
}
.fifty_k .learn,
.fifty_k .hero .calculator {
  background-color: #eae8f2;
}
.fifty_k .bar {
  background-color: #5a443f;
  border-color: #eae8f2;
}

/* 50 mile ultra */
.fifty_mile .hero {
  background-image: url(../images/06_50m.jpg);
  background-color: #478acb;
}
.fifty_mile .hero h1 {
  color: #333333;
}
.fifty_mile .learn,
.fifty_mile .hero .calculator {
  background-color: #e2eef9;
}
.fifty_mile .bar {
  background-color: #a0caf5;
  border-color: #e2eef9;
}

/* 100K ultra */
.hundred_k .hero {
  background-image: url(../images/07_100k.jpg);
  background-color: #a6aca6;
}
.hundred_k .hero h1 {
  color: #ffffff;
}
.hundred_k .learn,
.hundred_k .hero .calculator {
  background-color: #dbe0e3;
}
.hundred_k .bar {
  background-color: #5b8051;
  border-color: #dbe0e3;
}

/* 100 mile ultra */
.hundred_mile .hero {
  background-image: url(../images/08_100m.jpg);
  background-color: #51510b;
}
.hundred_mile .hero h1 {
  color: #333333;
}
.hundred_mile .learn,
.hundred_mile .hero .calculator {
  background-color: #fbecc2;
}
.hundred_mile .bar {
  background-color: #b18e21;
  border-color: #fbecc2;
}
