/**
 * Page specific styles
 */

body {
  font-size: 1.5em;
  margin: 0;
}

h1 {
  margin-top: 0;
}

a {
  color: initial;
}

a .fa {
  text-align: top;
}

a:hover .fa {
  text-decoration: underline;
}

input[type=submit] {
  width: 159px;
  height: 31px;
  border: none;
  text-indent: -999em;
  background-image: url(../images/LogInWithStrava.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.screen {
  height: 100vh;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .calculator {
  display: inline-block;
  padding: 1em;
  margin: 3em;
  border-radius: 6px;
}

.calculator > div {
  margin-bottom: 1em;
}

.calculator input#today {
  border: none;
  width: 2.3em;
  font-size: 1em;
  padding: 4px;
}

.calculator select#goal {
  border: none;
  font-size: 1em;
}

.calculator .estimate {
  font-weight: bold;
  font-size: 1.2em;
}
