/**
 * Page specific styles
 */

.landing_page {
  width: 500px;
  margin: 0 auto;
}

.landing_page .row {
  align-items: baseline;
}

.landing_page label {
  font-size: 30px;
  padding: 7px;
}

.landing_page small {
  margin-left: 0;
}

.landing_page output {
  font-size: 30px;
  margin-left: 0;
  font-weight: bold;
  padding: 5px 5px 5px 0;
}

.landing_page input[type=range] {
  width: 150px;
}

.landing_page input[type=submit] {
  width: 159px;
  height: 31px;
  border: none;
  text-indent: -999em;
  background-image: url(../images/LogInWithStrava.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.landing_page .set .field:last-child ,
.landing_page .meet .field:last-child  {
  margin-bottom: 0;
}
