body {
  font-family: "Helvetica";
  font-weight: 100;
  color: #333333;
}

h1 {
  font-size: 3em;
}

big {
  font-size: 2em;
}

form {
  background-color: rgba(240, 240, 240, 0.8);
  padding: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* If displayed on a dark background, change text colors accordingly */

.dark {
  color: #ffffff;
}

.dark a {
  color: rgba(255, 255, 255, 0.8);
}

.dark a:hover {
  color: #ffffff;
}

/* If displayed on a light background, change text colors accordingly */

.light {
  color: #333333;
}

.light a {
  color: rgba(51, 51, 51, 0.8);
}

.light a:hover {
  color: #333333;
}

/* Right-align the input boxes */

form .field {
  justify-content: space-between;
  margin-bottom: 1em;
}

form a {
  font-size: 11px;
}

/**
 * A column of elements
 */

.column {
  display: flex;
  flex-direction: column;
}

/* HACK to prevent elements with tall descendants from overflowing on Firefox */
.column {
  min-height: 0;
}

.column > * {
  min-height: 0;
}


/**
 * A row of spaced elements
 */

.row {
  display: flex;
  align-items: stretch;
}

.row > * {
  margin-left: 1em;
}

.row > *:first-child {
  margin-left: 0;
}

/**
 * Make an element expand to take up any slack in a flexbox
 */

.expand {
  flex: 1 1 auto;
}
